@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
@*<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>*@

<div class="col-md-3">
    <div class="list-group">
        <a id="profile" asp-page="./Index" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Profile</div><i class="icon-user"></i></a>
        <a id="tokens" asp-page="./Token" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Tokens</div><i class="icon-barcode1"></i></a>
        <a id="email" asp-page="./Email" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Email</div><i class="icon-mail"></i></a>
        <a id="change-password" asp-page="./ChangePassword" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Password</div><i class="icon-key1"></i></a>
        @if (hasExternalLogins)
        {
            <a id="external-login" asp-page="./ExternalLogins" class="list-group-item list-group-item-action d-flex justify-content-between"><div>External logins</div><i class="icon-line2-login"></i></a>
        }
        <a id="two-factor" asp-page="./TwoFactorAuthentication" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Two-factor authentication</div><i class="icon-cog"></i></a>
        <a id="personal-data" asp-page="./PersonalData" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Personal data</div><i class="icon-line2-logout"></i></a>
    </div>
</div>